body{
background-color: #3effc5;
color: #000000;
font-size:20px;
padding:40px;
text-align:center;
}
.white_box{
background: #FFFFFF;
border-radius:10px;
display:inline-block;
 width:50%;
}
div{
margin:20px;
}
button{
border:solid 2px #1fbe1a;
color: #555555;
font-size:16px;
margin-bottom:10px;
 padding:16px;
 width:100%;
}
button:hover {
background: #1fbe1a;
color: #FFFFFF;
}
